In [5]:
import pandas as pd
import numpy as np

In [4]:
from binance.client import Client

In [81]:
search_range = 30
exclude = ["USDT", #Tether - Crap
           "XEM", #NEM - Not on binance
           "BCN"] #Bytecoin - Not on binance
tickers = pd.read_json('https://api.coinmarketcap.com/v1/ticker/?limit={}'.format(search_range))
filtered = tickers.loc[~tickers['symbol'].isin(exclude)]
display(filtered)
len(filtered)

,24h_volume_usd,available_supply,id,last_updated,market_cap_usd,max_supply,name,percent_change_1h,percent_change_24h,percent_change_7d,price_btc,price_usd,rank,symbol,total_supply
0,6365990000,16845325,bitcoin,1517770171,141455752982,2.100000e+07,Bitcoin,-1.39,-9.42,-28.62,1.000000,8397.330000,1,BTC,16845325
1,2573750000,97410661,ethereum,1517770155,84205087627,NaN,Ethereum,-1.38,-10.81,-30.04,0.103285,864.434000,2,ETH,97410661
2,1149940000,39009215838,ripple,1517770141,32653249255,1.000000e+11,Ripple,-0.62,-9.68,-37.12,0.000100,0.837065,3,XRP,99992725510
3,614933000,16949200,bitcoin-cash,1517770158,19504461392,2.100000e+07,Bitcoin Cash,-1.03,-8.90,-33.42,0.137497,1150.760000,4,BCH,16949200
4,827004000,25927070538,cardano,1517770161,10207228400,4.500000e+10,Cardano,-0.88,-9.47,-40.62,0.000047,0.393690,5,ADA,31112483745
5,1045640000,55067833,litecoin,1517770141,8287048076,8.400000e+07,Litecoin,-1.38,-2.07,-20.91,0.017981,150.488000,6,LTC,55067833
6,232981000,18431237546,stellar,1517770144,7172294916,NaN,Stellar,-0.44,-11.07,-38.22,0.000046,0.389138,7,XLM,103649583897
7,178482000,65000000,neo,1517770152,6977620000,NaN,NEO,-1.58,-12.76,-28.41,0.012826,107.348000,8,NEO,100000000
8,541823000,647588334,eos,1517770157,5767259804,1.000000e+09,EOS,-0.96,-10.77,-39.47,0.001064,8.905750,9,EOS,900000000
10,52270000,2779530283,iota,1517770156,4933443890,2.779530e+09,IOTA,-1.49,-10.39,-28.97,0.000212,1.774920,11,MIOTA,2779530283
11,82364600,7864500,dash,1517770142,4566694655,1.890000e+07,Dash,-0.21,-8.44,-27.71,0.069380,580.672000,12,DASH,7864500
12,42668000,15683352,monero,1517770144,3563304683,NaN,Monero,-1.63,-9.78,-31.48,0.027147,227.203000,13,XMR,15683352
13,165960000,65748192475,tron,1517770160,2541660751,NaN,TRON,-1.76,-14.39,-41.64,0.000005,0.038657,14,TRX,100000000000
14,34193200,117720384,lisk,1517770149,2367097937,NaN,Lisk,-1.25,-14.50,-14.27,0.002403,20.107800,15,LSK,117720384
16,55482700,467084254,vechain,1517770159,2209093664,NaN,VeChain,-1.71,-16.32,-30.52,0.000565,4.729540,17,VEN,873378637
17,214389000,99617590,ethereum-classic,1517770150,2145454074,NaN,Ethereum Classic,-1.14,-10.67,-35.20,0.002573,21.536900,18,ETC,99617590
18,206096000,73857656,qtum,1517770155,1959369756,NaN,Qtum,-0.89,-11.32,-38.72,0.003170,26.529000,19,QTUM,100357656
19,4820040,37004027,populous,1517770159,1775590125,5.325225e+07,Populous,-4.39,-21.18,-32.72,0.005733,47.983700,20,PPT,53252246
20,53633200,16804711,bitcoin-gold,1517770163,1765855846,2.100000e+07,Bitcoin Gold,-0.25,-7.88,-44.70,0.012555,105.081000,21,BTG,16904711
21,25204900,133248289,raiblocks,1517770155,1731241723,1.332483e+08,Nano,-2.49,-20.55,-33.32,0.001552,12.992600,22,XRB,133248289
22,46572200,381495014,icon,1517770163,1681237082,NaN,ICON,-3.36,-21.97,-51.91,0.000527,4.406970,23,ICX,400230000
23,32723200,102042552,omisego,1517770158,1255796868,NaN,OmiseGO,-1.14,-12.69,-27.46,0.001470,12.306600,24,OMG,140245398
24,45344000,3206881,zcash,1517770151,1150568062,NaN,Zcash,-1.74,-9.51,-23.71,0.042868,358.781000,25,ZEC,3206881
25,43265200,248480091,steem,1517770149,967444810,NaN,Steem,-1.33,-10.18,-38.09,0.000465,3.893450,26,STEEM,265454185
26,47575600,99014000,binance-coin,1517770158,843940878,NaN,Binance Coin,-1.78,-14.30,-36.94,0.001018,8.523450,27,BNB,197192382
28,29174300,14554977430,verge,1517770144,794925914,1.655500e+10,Verge,-1.84,-16.91,-40.78,0.000007,0.054615,29,XVG,14554977430
29,12621200,98727641,stratis,1517770151,792350532,NaN,Stratis,-3.22,-18.80,-45.26,0.000959,8.025620,30,STRAT,98727641

27

In [107]:
for coin in filtered.itertuples():
    print(coin.id)

bitcoin
ethereum
ripple
bitcoin-cash
cardano
litecoin
stellar
neo
eos
iota
dash
monero
tron
lisk
vechain
ethereum-classic
qtum
populous
bitcoin-gold
raiblocks
icon
omisego
zcash
steem
binance-coin
verge
stratis

In [96]:
[i for i in filtered[['id','symbol']].iterrows()]

[(0, id        bitcoin
  symbol        BTC
  Name: 0, dtype: object), (1, id        ethereum
  symbol         ETH
  Name: 1, dtype: object), (2, id        ripple
  symbol       XRP
  Name: 2, dtype: object), (3, id        bitcoin-cash
  symbol             BCH
  Name: 3, dtype: object), (4, id        cardano
  symbol        ADA
  Name: 4, dtype: object), (5, id        litecoin
  symbol         LTC
  Name: 5, dtype: object), (6, id        stellar
  symbol        XLM
  Name: 6, dtype: object), (7, id        neo
  symbol    NEO
  Name: 7, dtype: object), (8, id        eos
  symbol    EOS
  Name: 8, dtype: object), (10, id         iota
  symbol    MIOTA
  Name: 10, dtype: object), (11, id        dash
  symbol    DASH
  Name: 11, dtype: object), (12, id        monero
  symbol       XMR
  Name: 12, dtype: object), (13, id        tron
  symbol     TRX
  Name: 13, dtype: object), (14, id        lisk
  symbol     LSK
  Name: 14, dtype: object), (16, id        vechain
  symbol        VEN
  Name: 16, dtype: object), (17, id        ethereum-classic
  symbol                 ETC
  Name: 17, dtype: object), (18, id        qtum
  symbol    QTUM
  Name: 18, dtype: object), (19, id        populous
  symbol         PPT
  Name: 19, dtype: object), (20, id        bitcoin-gold
  symbol             BTG
  Name: 20, dtype: object), (21, id        raiblocks
  symbol          XRB
  Name: 21, dtype: object), (22, id        icon
  symbol     ICX
  Name: 22, dtype: object), (23, id        omisego
  symbol        OMG
  Name: 23, dtype: object), (24, id        zcash
  symbol      ZEC
  Name: 24, dtype: object), (25, id        steem
  symbol    STEEM
  Name: 25, dtype: object), (26, id        binance-coin
  symbol             BNB
  Name: 26, dtype: object), (28, id        verge
  symbol      XVG
  Name: 28, dtype: object), (29, id        stratis
  symbol      STRAT
  Name: 29, dtype: object)]

In [45]:
portfolio = filtered['symbol'].tolist()
portfolio

['BTC',
 'ETH',
 'XRP',
 'BCH',
 'ADA',
 'LTC',
 'XLM',
 'NEO',
 'EOS',
 'MIOTA',
 'DASH',
 'XMR',
 'TRX',
 'LSK',
 'VEN',
 'ETC',
 'QTUM',
 'PPT',
 'XRB',
 'BTG']

In [46]:
base_curr = 'BTC'
shopping = [p for p in portfolio if p != base_curr]
len(shopping)

19

In [58]:
import time
info = {}
for sym in shopping:
    pair = sym  + base_curr 
    print(pair)
    time.sleep(0.5)
    info[pair] = client.get_symbol_info(pair)

ETHBTC
XRPBTC
BCHBTC
ADABTC
LTCBTC
XLMBTC
NEOBTC
EOSBTC
MIOTABTC
DASHBTC
XMRBTC
TRXBTC
LSKBTC
VENBTC
ETCBTC
QTUMBTC
PPTBTC
XRBBTC
BTGBTC

In [60]:
info['BTGBTC']

{'baseAsset': 'BTG',
 'baseAssetPrecision': 8,
 'filters': [{'filterType': 'PRICE_FILTER',
   'maxPrice': '100000.00000000',
   'minPrice': '0.00000100',
   'tickSize': '0.00000100'},
  {'filterType': 'LOT_SIZE',
   'maxQty': '10000000.00000000',
   'minQty': '0.01000000',
   'stepSize': '0.01000000'},
  {'filterType': 'MIN_NOTIONAL', 'minNotional': '0.00200000'}],
 'icebergAllowed': True,
 'orderTypes': ['LIMIT',
  'LIMIT_MAKER',
  'MARKET',
  'STOP_LOSS_LIMIT',
  'TAKE_PROFIT_LIMIT'],
 'quoteAsset': 'BTC',
 'quotePrecision': 8,
 'status': 'TRADING',
 'symbol': 'BTGBTC'}

In [1]:
import config

In [6]:
client = Client(config.api_key, config.api_secret)

In [2]:
config.api_key

'l2SoQwIdV2N73O4xb6hALxdhRNOPnOJdezP6JNLiwSnS6r8adnvDc56mtHuQnoqO'

In [239]:
prices = client.get_all_tickers()

In [252]:
price = client.get_ticker(symbol='ETHBTC')
price

{'askPrice': '0.09820500',
 'askQty': '2.25400000',
 'bidPrice': '0.09810400',
 'bidQty': '0.66300000',
 'closeTime': 1517865333874,
 'count': 523481,
 'firstId': 30169257,
 'highPrice': '0.10367200',
 'lastId': 30692737,
 'lastPrice': '0.09810100',
 'lastQty': '4.18600000',
 'lowPrice': '0.09563200',
 'openPrice': '0.10129500',
 'openTime': 1517778933874,
 'prevClosePrice': '0.10139700',
 'priceChange': '-0.00319400',
 'priceChangePercent': '-3.153',
 'quoteVolume': '16425.29242871',
 'symbol': 'ETHBTC',
 'volume': '163809.82800000',
 'weightedAvgPrice': '0.10027049'}

In [254]:
float(price['bidPrice'])

0.098104

In [249]:
prices

{'askPrice': '0.09857000',
 'askQty': '0.04200000',
 'bidPrice': '0.09847200',
 'bidQty': '1.16600000',
 'closeTime': 1517864829944,
 'count': 522524,
 'firstId': 30166438,
 'highPrice': '0.10367200',
 'lastId': 30688961,
 'lastPrice': '0.09847200',
 'lastQty': '1.05000000',
 'lowPrice': '0.09563200',
 'openPrice': '0.10170000',
 'openTime': 1517778429944,
 'prevClosePrice': '0.10167200',
 'priceChange': '-0.00322800',
 'priceChangePercent': '-3.174',
 'quoteVolume': '16394.64355861',
 'symbol': 'ETHBTC',
 'volume': '163467.75000000',
 'weightedAvgPrice': '0.10029283'}

In [112]:
import requests
def download_data(currency, start_date, end_date):
    """
    Download HTML price history for the specified cryptocurrency and time range from CoinMarketCap.
    """

    url = 'https://coinmarketcap.com/currencies/' + currency + '/historical-data/' + '?start=' \
                                                  + start_date + '&end=' + end_date

    data = pd.read_html(url)[0]
    
    return data

In [ ]:
url = 'https://coinmarketcap.com/currencies/ripple/historical-data/?start=20170204&end=20180204'
OHLC = pd.read_html(url)[0]

In [149]:
prices = {}

for coin in filtered.itertuples():
    prices[coin.symbol] = download_data(coin.id, '20180101', '20180204')

In [150]:
for coin in filtered.itertuples():
    print(coin.symbol)
    display(prices[coin.symbol].tail())

BTC

,Date,Open,High,Low,Close,Volume,Market Cap
29,"Jan 05, 2018",15477.2,17705.2,15202.8,17429.5,23840900000,259748000000
30,"Jan 04, 2018",15270.7,15739.7,14522.2,15599.2,21783200000,256250000000
31,"Jan 03, 2018",14978.2,15572.8,14844.5,15201.0,16871900000,251312000000
32,"Jan 02, 2018",13625.0,15444.6,13163.6,14982.1,16846600000,228579000000
33,"Jan 01, 2018",14112.2,14112.2,13154.7,13657.2,10291200000,236725000000

ETH

            Date    Open     High     Low   Close      Volume   Market Cap
29  Jan 05, 2018  975.75  1075.39  956.33  997.72  6683150000  94423900000
30  Jan 04, 2018  961.71  1045.08  946.09  980.92  6502860000  93049400000
31  Jan 03, 2018  886.00   974.47  868.45  962.72  5093160000  85703500000
32  Jan 02, 2018  772.35   914.83  772.35  884.44  5783350000  74695700000
33  Jan 01, 2018  755.76   782.53  742.00  772.64  2595760000  73075800000

XRP

            Date  Open  High   Low  Close      Volume    Market Cap
29  Jan 05, 2018  3.30  3.56  2.83   3.05  6288500000  127870000000
30  Jan 04, 2018  3.12  3.84  3.12   3.20  8103660000  120763000000
31  Jan 03, 2018  2.46  3.28  2.44   3.11  6635880000   95457200000
32  Jan 02, 2018  2.37  2.49  2.25   2.48  3171010000   91791800000
33  Jan 01, 2018  2.30  2.39  2.15   2.39  1894230000   88945900000

BCH

            Date     Open     High      Low    Close      Volume   Market Cap
29  Jan 05, 2018  2400.74  2648.32  2370.59  2584.48  2115710000  40557600000
30  Jan 04, 2018  2608.87  2610.20  2359.30  2430.18  5377260000  44069100000
31  Jan 03, 2018  2700.55  2958.47  2592.56  2608.69  4688840000  45613300000
32  Jan 02, 2018  2434.50  2867.14  2434.50  2711.00  1831230000  41114800000
33  Jan 01, 2018  2534.82  2534.86  2389.52  2432.54   922813000  42804800000

ADA

,Date,Open,High,Low,Close,Volume,Market Cap
29,"Jan 05, 2018",1.170000,1.250000,0.903503,0.999559,508100000,30364400000
30,"Jan 04, 2018",1.090000,1.330000,1.040000,1.110000,593430000,28364900000
31,"Jan 03, 2018",0.779681,1.090000,0.778578,1.080000,657398000,20214800000
32,"Jan 02, 2018",0.724676,0.794646,0.697856,0.782587,289712000,18788700000
33,"Jan 01, 2018",0.718847,0.730051,0.671941,0.728657,150186000,18637600000

LTC

            Date    Open    High     Low   Close      Volume   Market Cap
29  Jan 05, 2018  241.03  256.15  237.88  249.27  1710600000  13164800000
30  Jan 04, 2018  245.47  245.47  227.01  241.37  3481550000  13403400000
31  Jan 03, 2018  255.69  260.74  243.13  245.37  3215280000  13957800000
32  Jan 02, 2018  228.99  263.63  228.99  255.68  1237950000  12496900000
33  Jan 01, 2018  231.67  236.63  222.20  229.03   633142000  12639700000

XLM

,Date,Open,High,Low,Close,Volume,Market Cap
29,"Jan 05, 2018",0.739457,0.791967,0.577509,0.662712,727409000,13219400000
30,"Jan 04, 2018",0.892399,0.938144,0.677496,0.724050,892268000,15953600000
31,"Jan 03, 2018",0.562720,0.919994,0.562572,0.896227,1513270000,10059800000
32,"Jan 02, 2018",0.496876,0.593645,0.472748,0.564766,676667000,8873700000
33,"Jan 01, 2018",0.360422,0.523593,0.360422,0.480008,669372000,6436760000

NEO

            Date    Open    High    Low   Close     Volume  Market Cap
29  Jan 05, 2018   98.91  106.24  89.58   95.28  292933000  6429220000
30  Jan 04, 2018  104.79  109.20  96.24   99.11  332546000  6811420000
31  Jan 03, 2018   90.30  105.56  86.89  105.56  288086000  5869250000
32  Jan 02, 2018   78.53   97.01  78.53   90.33  373377000  5104180000
33  Jan 01, 2018   76.19   80.69  72.72   78.82  142094000  4952450000

EOS

            Date   Open   High    Low  Close      Volume  Market Cap
29  Jan 05, 2018  11.23  11.51  10.40  10.84   618755000  6549910000
30  Jan 04, 2018  10.45  11.97  10.29  11.28  1204970000  6076410000
31  Jan 03, 2018   9.32  10.23   8.85  10.23   529459000  5394840000
32  Jan 02, 2018   8.91   9.78   8.91   9.33   552189000  5144580000
33  Jan 01, 2018   8.77   9.11   8.51   8.84   331073000  5041600000

MIOTA

            Date  Open  High   Low  Close     Volume   Market Cap
29  Jan 05, 2018  4.06  4.20  3.66   3.75  219320000  11286600000
30  Jan 04, 2018  4.13  4.50  3.76   4.08  376974000  11466400000
31  Jan 03, 2018  4.00  4.19  3.90   4.13  203783000  11109700000
32  Jan 02, 2018  4.09  4.31  3.84   4.00  269750000  11363400000
33  Jan 01, 2018  3.56  4.36  3.42   3.97  256630000   9883750000

DASH

            Date     Open     High      Low    Close     Volume  Market Cap
29  Jan 05, 2018  1221.63  1273.36  1151.11  1152.41  237504000  9527170000
30  Jan 04, 2018  1173.71  1316.86  1097.56  1229.79  284845000  9151080000
31  Jan 03, 2018  1208.84  1216.57  1144.69  1170.74  175843000  9422640000
32  Jan 02, 2018  1055.14  1241.70  1055.14  1217.72  257110000  8218420000
33  Jan 01, 2018  1054.07  1072.42  1016.57  1053.98  138567000  8207990000

XMR

            Date    Open    High     Low   Close     Volume  Market Cap
29  Jan 05, 2018  402.38  407.04  373.89  384.94  182618000  6262550000
30  Jan 04, 2018  414.41  419.72  383.54  403.05  166108000  6448110000
31  Jan 03, 2018  382.74  418.26  378.86  412.06  180190000  5953920000
32  Jan 02, 2018  359.06  387.79  359.06  383.42  224769000  5582210000
33  Jan 01, 2018  349.55  363.79  336.98  358.99  110244000  5434340000

TRX

,Date,Open,High,Low,Close,Volume,Market Cap
29,"Jan 05, 2018",0.209579,0.300363,0.176712,0.220555,3864400000,13779500000
30,"Jan 04, 2018",0.094920,0.217114,0.094920,0.207974,4089410000,6240820000
31,"Jan 03, 2018",0.078648,0.094703,0.068306,0.094703,1136850000,5170990000
32,"Jan 02, 2018",0.052070,0.086989,0.052070,0.078682,1604040000,3423530000
33,"Jan 01, 2018",0.044682,0.052813,0.043400,0.051695,516798000,2937740000

LSK

            Date   Open   High    Low  Close     Volume  Market Cap
29  Jan 05, 2018  21.40  29.53  20.97  24.16  187694000  2496760000
30  Jan 04, 2018  21.15  24.03  20.18  21.46  109219000  2466640000
31  Jan 03, 2018  21.94  22.03  20.40  21.00   79068900  2558310000
32  Jan 02, 2018  21.16  22.53  20.70  21.95   72049200  2465830000
33  Jan 01, 2018  20.68  21.57  19.66  21.13   46809500  2409860000

VEN

            Date  Open  High   Low  Close     Volume  Market Cap
29  Jan 05, 2018  3.78  4.19  3.19   3.64  192141000  1046450000
30  Jan 04, 2018  3.47  3.93  3.22   3.74  192222000   962175000
31  Jan 03, 2018  2.61  3.47  2.61   3.47  241740000   722827000
32  Jan 02, 2018  2.43  2.63  2.23   2.61  121598000   674724000
33  Jan 01, 2018  2.30  2.46  2.23   2.43   68193900   636456000

ETC

            Date   Open   High    Low  Close      Volume  Market Cap
29  Jan 05, 2018  36.17  38.28  35.90  36.20   517583000  3576720000
30  Jan 04, 2018  34.44  39.35  32.31  36.32  1733940000  3404930000
31  Jan 03, 2018  34.91  35.51  32.84  34.86   910507000  3450400000
32  Jan 02, 2018  34.46  38.03  34.05  34.92   615984000  3405130000
33  Jan 01, 2018  28.05  37.03  27.32  34.17   870413000  2770760000

QTUM

            Date   Open   High    Low  Close      Volume  Market Cap
29  Jan 05, 2018  57.39  70.89  54.79  62.70  1356740000  4234740000
30  Jan 04, 2018  59.06  61.48  55.95  57.47   744457000  4357860000
31  Jan 03, 2018  60.54  61.01  57.29  59.09   673650000  4466390000
32  Jan 02, 2018  61.19  62.46  59.75  60.72   597468000  4514720000
33  Jan 01, 2018  62.31  64.08  59.87  60.88   708818000  4597210000

PPT

            Date   Open   High    Low  Close    Volume  Market Cap
29  Jan 05, 2018  45.88  47.28  39.20  41.37   3245770  1697890000
30  Jan 04, 2018  52.07  53.08  43.55  46.01   4863890  1926840000
31  Jan 03, 2018  45.06  70.82  42.05  51.89  12062500  1667220000
32  Jan 02, 2018  41.57  45.86  41.57  44.68   3275410  1538300000
33  Jan 01, 2018  41.55  42.59  38.29  41.73   1770540  1537470000

BTG

            Date    Open    High     Low   Close     Volume  Market Cap
29  Jan 05, 2018  274.58  294.79  266.55  277.44  175165000  4598030000
30  Jan 04, 2018  272.43  280.12  258.89  273.76  136988000  4561520000
31  Jan 03, 2018  276.12  281.97  267.18  270.24  106643000  4622800000
32  Jan 02, 2018  275.42  284.96  270.83  277.08  117571000  4610460000
33  Jan 01, 2018  261.63  297.17  255.76  272.90  143836000  4379180000

XRB

            Date   Open   High    Low  Close     Volume  Market Cap
29  Jan 05, 2018  32.73  36.35  29.63  31.40   74166000  4360850000
30  Jan 04, 2018  24.70  32.68  19.88  32.68   62473700  3290570000
31  Jan 03, 2018  33.45  33.45  18.29  25.05   66626500  4456800000
32  Jan 02, 2018  29.65  37.62  26.16  33.70  103062000  3951460000
33  Jan 01, 2018  21.80  29.59  20.16  29.57   55211700  2905250000

ICX

            Date  Open  High   Low  Close     Volume  Market Cap
29  Jan 05, 2018  7.31  7.89  6.37   6.84  161902000  2765270000
30  Jan 04, 2018  7.40  8.08  6.78   7.24  160103000  2794050000
31  Jan 03, 2018  6.48  7.41  6.25   7.34  147000000  2446920000
32  Jan 02, 2018  6.18  7.11  5.68   6.49  159429000  2328010000
33  Jan 01, 2018  5.35  6.43  4.98   6.16  103225000  2017570000

OMG

            Date   Open   High    Low  Close     Volume  Market Cap
29  Jan 05, 2018  19.81  20.40  18.12  18.69  138393000  2021050000
30  Jan 04, 2018  20.60  21.94  19.63  19.93  150260000  2101860000
31  Jan 03, 2018  20.15  20.98  19.07  20.54  139039000  2055970000
32  Jan 02, 2018  19.34  22.24  18.73  20.30  229553000  1973980000
33  Jan 01, 2018  19.60  20.99  18.25  19.33  166860000  1999550000

ZEC

            Date    Open    High     Low   Close     Volume  Market Cap
29  Jan 05, 2018  590.87  606.11  573.83  588.86  158978000  1764630000
30  Jan 04, 2018  583.08  602.00  539.10  595.19  166095000  1737200000
31  Jan 03, 2018  581.29  593.67  561.58  581.89  152736000  1727630000
32  Jan 02, 2018  578.08  624.97  576.00  583.51  207114000  1713990000
33  Jan 01, 2018  508.00  621.69  489.34  577.19  234555000  1502590000

STEEM

            Date  Open  High   Low  Close     Volume  Market Cap
29  Jan 05, 2018  6.55  7.08  5.52   5.81   32859900  1611020000
30  Jan 04, 2018  8.12  8.12  6.56   6.56   42666400  1998250000
31  Jan 03, 2018  6.51  8.57  6.09   8.03   81599700  1606260000
32  Jan 02, 2018  3.98  7.14  3.97   6.69  118530000   982775000
33  Jan 01, 2018  3.02  4.51  2.86   4.01   32488100   744499000

BNB

            Date  Open   High   Low  Close     Volume  Market Cap
29  Jan 05, 2018  9.15  16.72  9.09  14.92  341505000   905550000
30  Jan 04, 2018  9.45   9.54  8.85   9.21  158819000   935270000
31  Jan 03, 2018  8.77   9.58  8.53   9.54  108852000   868367000
32  Jan 02, 2018  8.46   9.12  8.22   8.84  104789000   837431000
33  Jan 01, 2018  8.63   8.70  7.96   8.41   66422800   854444000

XVG

,Date,Open,High,Low,Close,Volume,Market Cap
29,"Jan 05, 2018",0.159472,0.199077,0.148423,0.181114,544342000,2312330000
30,"Jan 04, 2018",0.145384,0.197573,0.138022,0.159184,677836000,2107470000
31,"Jan 03, 2018",0.144876,0.162200,0.133645,0.145221,354873000,2089650000
32,"Jan 02, 2018",0.157163,0.165060,0.132691,0.144905,451026000,2266240000
33,"Jan 01, 2018",0.221716,0.223719,0.140798,0.156131,816280000,3195980000

STRAT

            Date   Open   High    Low  Close    Volume  Market Cap
29  Jan 05, 2018  16.00  16.20  14.41  15.19  58967300  1578710000
30  Jan 04, 2018  16.84  17.24  15.15  16.06  58863100  1662060000
31  Jan 03, 2018  16.09  17.25  14.70  16.96  50176600  1587680000
32  Jan 02, 2018  15.84  16.61  14.39  16.08  63791100  1562840000
33  Jan 01, 2018  14.07  16.73  13.48  15.70  75643600  1388100000

In [282]:
info = client.get_symbol_info('LTCBTC')
info

{'baseAsset': 'LTC',
 'baseAssetPrecision': 8,
 'filters': [{'filterType': 'PRICE_FILTER',
   'maxPrice': '100000.00000000',
   'minPrice': '0.00000100',
   'tickSize': '0.00000100'},
  {'filterType': 'LOT_SIZE',
   'maxQty': '100000.00000000',
   'minQty': '0.01000000',
   'stepSize': '0.01000000'},
  {'filterType': 'MIN_NOTIONAL', 'minNotional': '0.00200000'}],
 'icebergAllowed': True,
 'orderTypes': ['LIMIT',
  'LIMIT_MAKER',
  'MARKET',
  'STOP_LOSS_LIMIT',
  'TAKE_PROFIT_LIMIT'],
 'quoteAsset': 'BTC',
 'quotePrecision': 8,
 'status': 'TRADING',
 'symbol': 'LTCBTC'}

In [278]:
a = 0.001
str(a)[::-1].find('.')

3

In [268]:
filter = next((item for item in info['filters'] if item["filterType"] == "LOT_SIZE"))
filter

{'filterType': 'LOT_SIZE',
 'maxQty': '100000.00000000',
 'minQty': '0.00100000',
 'stepSize': '0.00100000'}

In [272]:
(0.0986-0.001) %0.001

0.0005999999999999903

In [142]:
def plot_candlestick(df):
    
    # Import plotly and enable offline mode
    import plotly.offline as py
    import plotly.graph_objs as go
    import plotly.figure_factory as ff
    py.init_notebook_mode(connected=True)

    trace = go.Candlestick(x=df.index,
                           open=df.Open,
                           high=df.High,
                           low=df.Low,
                           close=df.Close)
    data = [trace]
    py.iplot(data, filename='simple_candlestick')
    
    return 0

plot_candlestick(prices['EOS'][::-1].reset_index(drop=True))

0

In [188]:
topCoins = pd.DataFrame()
# topCoins['Date'] = prices['BTC']['Date']
for k  in prices:
    topCoins[k] = prices[k]['Market Cap']

In [179]:
topCoins.head()

,Date,BTC,ETH,XRP,BCH,ADA,LTC,XLM,NEO,EOS,...,PPT,BTG,XRB,ICX,OMG,ZEC,STEEM,BNB,XVG,STRAT
0,"Feb 03, 2018",149085000000,89507600000,34795900000,20237400000,10395800000,7232410000,7482160000,7867210000,6290740000,...,2010170000,1850860000,2251310000,2021100000,1362480000,1228180000,1124740000,960106000,792570000,928058000
1,"Feb 02, 2018",153953000000,100836000000,37473900000,21561700000,10875400000,7844710000,8387820000,8166710000,6528440000,...,2333590000,2148410000,2189520000,2319700000,1425460000,1270100000,1245360000,931520000,848117000,996957000
2,"Feb 01, 2018",172372000000,108952000000,44971500000,25263200000,13376100000,9004330000,9967480000,9487200000,7826060000,...,2610550000,2635290000,2681840000,2942890000,1617380000,1269550000,1269210000,1106810000,1014360000,1220310000
3,"Jan 31, 2018",170183000000,104231000000,43800800000,24915700000,13679100000,9090870000,8732980000,9451090000,7309740000,...,2494270000,2659440000,2137840000,3151000000,1520480000,1217890000,1151950000,1115720000,1001540000,1183220000
4,"Jan 30, 2018",190339000000,115207000000,51452400000,28079700000,16199200000,9976170000,10557100000,10976100000,8918290000,...,2553880000,3061920000,2481590000,3628280000,1723530000,1421050000,1462650000,1264770000,1240790000,1467940000

In [199]:

for n in topCoins.iterrows():
    print(n)

(0, BTC      149085000000
ETH       89507600000
XRP       34795900000
BCH       20237400000
ADA       10395800000
LTC        7232410000
XLM        7482160000
NEO        7867210000
EOS        6290740000
MIOTA      5023050000
DASH       4631430000
XMR        3707610000
TRX        2697960000
LSK        2540940000
VEN        2308390000
ETC        2305470000
QTUM       2244470000
PPT        2010170000
BTG        1850860000
XRB        2251310000
ICX        2021100000
OMG        1362480000
ZEC        1228180000
STEEM      1124740000
BNB         960106000
XVG         792570000
STRAT       928058000
Name: 0, dtype: int64)
(1, BTC      153953000000
ETH      100836000000
XRP       37473900000
BCH       21561700000
ADA       10875400000
LTC        7844710000
XLM        8387820000
NEO        8166710000
EOS        6528440000
MIOTA      5280740000
DASH       4842830000
XMR        3774700000
TRX        3027200000
LSK        2616560000
VEN        2466510000
ETC        2484190000
QTUM       2626060000
PPT        2333590000
BTG        2148410000
XRB        2189520000
ICX        2319700000
OMG        1425460000
ZEC        1270100000
STEEM      1245360000
BNB         931520000
XVG         848117000
STRAT       996957000
Name: 1, dtype: int64)
(2, BTC      172372000000
ETH      108952000000
XRP       44971500000
BCH       25263200000
ADA       13376100000
LTC        9004330000
XLM        9967480000
NEO        9487200000
EOS        7826060000
MIOTA      6419970000
DASH       5486820000
XMR        4291340000
TRX        3599930000
LSK        3101040000
VEN        2910600000
ETC        2863780000
QTUM       3108800000
PPT        2610550000
BTG        2635290000
XRB        2681840000
ICX        2942890000
OMG        1617380000
ZEC        1269550000
STEEM      1269210000
BNB        1106810000
XVG        1014360000
STRAT      1220310000
Name: 2, dtype: int64)
(3, BTC      170183000000
ETH      104231000000
XRP       43800800000
BCH       24915700000
ADA       13679100000
LTC        9090870000
XLM        8732980000
NEO        9451090000
EOS        7309740000
MIOTA      6162980000
DASH       5329560000
XMR        4306290000
TRX        3547640000
LSK        2556440000
VEN        2706700000
ETC        2707440000
QTUM       2754250000
PPT        2494270000
BTG        2659440000
XRB        2137840000
ICX        3151000000
OMG        1520480000
ZEC        1217890000
STEEM      1151950000
BNB        1115720000
XVG        1001540000
STRAT      1183220000
Name: 3, dtype: int64)
(4, BTC      190339000000
ETH      115207000000
XRP       51452400000
BCH       28079700000
ADA       16199200000
LTC        9976170000
XLM       10557100000
NEO       10976100000
EOS        8918290000
MIOTA      7195220000
DASH       6025040000
XMR        4970190000
TRX        4212160000
LSK        2653910000
VEN        2966510000
ETC        3160490000
QTUM       3219350000
PPT        2553880000
BTG        3061920000
XRB        2481590000
ICX        3628280000
OMG        1723530000
ZEC        1421050000
STEEM      1462650000
BNB        1264770000
XVG        1240790000
STRAT      1467940000
Name: 4, dtype: int64)
(5, BTC      197871000000
ETH      121269000000
XRP       54204300000
BCH       29561500000
ADA       17354900000
LTC       10649800000
XLM       11303400000
NEO        9885260000
EOS        9524430000
MIOTA      7007530000
DASH       6369620000
XMR        5194670000
TRX        4302000000
LSK        2734540000
VEN        3100270000
ETC        3303240000
QTUM       3236940000
PPT        2757550000
BTG        3171780000
XRB        2629040000
ICX        3582480000
OMG        1750090000
ZEC        1489000000
STEEM      1576440000
BNB        1341190000
XVG        1330540000
STRAT      1443430000
Name: 5, dtype: int64)
(6, BTC      193133000000
ETH      108122000000
XRP       47412500000
BCH       27713300000
ADA       16089300000
LTC        9969420000
XLM       11005200000
NEO        9124100000
EOS        9057850000
MIOTA      6830550000
DASH       6095130000
XMR        5055340000
TRX        4531100000
LSK        2740090000
VEN        3207930000
ETC        2945280000
QTUM       2934440000
PPT        2307230000
BTG        3136400000
XRB        2515620000
ICX        3017350000
OMG        1638530000
ZEC        1428950000
STEEM      1502920000
BNB        1317060000
XVG        1372430000
STRAT      1426250000
Name: 6, dtype: int64)
(7, BTC      188054000000
ETH      102651000000
XRP       47180200000
BCH       27136100000
ADA       16164900000
LTC        9705020000
XLM       11283600000
NEO        8979150000
EOS        9027390000
MIOTA      6607670000
DASH       6139280000
XMR        5090880000
TRX        4371910000
LSK        2507910000
VEN        3321160000
ETC        2858610000
QTUM       2936640000
PPT        1973420000
BTG        3049250000
XRB        2317700000
ICX        3012180000
OMG        1693910000
ZEC        1435350000
STEEM      1547320000
BNB        1310270000
XVG        1276620000
STRAT      1329110000
Name: 7, dtype: int64)
(8, BTC      189398000000
ETH      102334000000
XRP       50706400000
BCH       27720500000
ADA       16435300000
LTC        9875590000
XLM       10759400000
NEO        8953600000
EOS        8958130000
MIOTA      6558110000
DASH       6224310000
XMR        4953260000
TRX        4510310000
LSK        2648570000
VEN        3162870000
ETC        2892380000
QTUM       2983480000
PPT        1820230000
BTG        3133810000
XRB        1703590000
ICX        2972130000
OMG        1829140000
ZEC        1485840000
STEEM      1639840000
BNB        1308060000
XVG        1299830000
STRAT      1247740000
Name: 8, dtype: int64)
(9, BTC      192163000000
ETH      103335000000
XRP       52811100000
BCH       28121300000
ADA       16316900000
LTC        9968750000
XLM       10146600000
NEO        8976150000
EOS        8734500000
MIOTA      6845150000
DASH       6182430000
XMR        5039370000
TRX        4684670000
LSK        2637130000
VEN        3425390000
ETC        2969790000
QTUM       3021830000
PPT        1819560000
BTG        3240300000
XRB        2032490000
ICX        3183380000
OMG        1841760000
ZEC        1432080000
STEEM      1505570000
BNB        1362480000
XVG        1375860000
STRAT      1267800000
Name: 9, dtype: int64)
(10, BTC      183419000000
ETH       95952700000
XRP       52380100000
BCH       27460200000
ADA       14606500000
LTC        9793780000
XLM        8693050000
NEO        7966980000
EOS        8112750000
MIOTA      6998060000
DASH       5932760000
XMR        4830950000
TRX        4510090000
LSK        2566650000
VEN        2130040000
ETC        2828350000
QTUM       2883110000
PPT        1753390000
BTG        3172510000
XRB        1886190000
ICX        3079560000
OMG        1637570000
ZEC        1380510000
STEEM      1076920000
BNB        1306050000
XVG        1352210000
STRAT      1221140000
Name: 10, dtype: int64)
(11, BTC      184087000000
ETH       97554300000
XRP       52421300000
BCH       27473700000
ADA       14688600000
LTC        9892990000
XLM        8487840000
NEO        8018770000
EOS        8432510000
MIOTA      6861570000
DASH       5978460000
XMR        4929480000
TRX        4681940000
LSK        2502090000
VEN        2293920000
ETC        2907490000
QTUM       2955640000
PPT        1560540000
BTG        3186390000
XRB        1926900000
ICX        3087210000
OMG        1597700000
ZEC        1390650000
STEEM      1073090000
BNB        1287330000
XVG        1368890000
STRAT      1140180000
Name: 11, dtype: int64)
(12, BTC      195645000000
ETH      102504000000
XRP       53909800000
BCH       30370200000
ADA       15944700000
LTC       10521900000
XLM        8336150000
NEO        8599480000
EOS        8385480000
MIOTA      7738110000
DASH       6466930000
XMR        5453550000
TRX        4730400000
LSK        2615440000
VEN        2231640000
ETC        3037400000
QTUM       3188600000
PPT        1652980000
BTG        3357640000
XRB        2270570000
ICX        3427670000
OMG        1748670000
ZEC        1530980000
STEEM      1229960000
BNB        1405870000
XVG        1520800000
STRAT      1325880000
Name: 12, dtype: int64)
(13, BTC      216740000000
ETH      112226000000
XRP       61061900000
BCH       34415500000
ADA       18314600000
LTC       11585700000
XLM        9560800000
NEO        9764800000
EOS        9666480000
MIOTA      8358740000
DASH       7267440000
XMR        6008720000
TRX        5579930000
LSK        2980190000
VEN        2264110000
ETC        3523310000
QTUM       3817440000
PPT        1842730000
BTG        3869280000
XRB        2619970000
ICX        3909760000
OMG        2013840000
ZEC        1735780000
STEEM      1425480000
BNB        1608870000
XVG        1609420000
STRAT      1584850000
Name: 13, dtype: int64)
(14, BTC      195979000000
ETH      101451000000
XRP       60543000000
BCH       30191500000
ADA       17022800000
LTC       10658300000
XLM        9123480000
NEO        9132020000
EOS        6920580000
MIOTA      7530230000
DASH       6677870000
XMR        5743450000
TRX        5336000000
LSK        2726760000
VEN        1657350000
ETC        3184770000
QTUM       2895050000
PPT        1584730000
BTG        3676260000
XRB        2328750000
ICX        3243750000
OMG        1901100000
ZEC        1636230000
STEEM      1182220000
BNB        1488590000
XVG        1579210000
STRAT      1478350000
Name: 14, dtype: int64)
(15, BTC      192150000000
ETH       99863900000
XRP       61291900000
BCH       29442200000
ADA       16840800000
LTC       10480800000
XLM        9005680000
NEO        9181130000
EOS        6365040000
MIOTA      7630760000
DASH       6521630000
XMR        4906340000
TRX        5418210000
LSK        2676900000
VEN        1508380000
ETC        2979260000
QTUM       2728690000
PPT        1580780000
BTG        3239170000
XRB        2374060000
ICX        2985450000
OMG        1798360000
ZEC        1501990000
STEEM      1055150000
BNB        1416950000
XVG        1654650000
STRAT      1422830000
Name: 15, dtype: int64)
(16, BTC      188242000000
ETH       98642100000
XRP       50577100000
BCH       29643600000
ADA       16367600000
LTC       10245500000
XLM        8579040000
NEO        9269200000
EOS        6230180000
MIOTA      7559510000
DASH       6259570000
XMR        5005990000
TRX        5025290000
LSK        2610960000
VEN        1338430000
ETC        2900830000
QTUM       2661040000
PPT        1506920000
BTG        3132570000
XRB        2250270000
ICX        2851870000
OMG        1860280000
ZEC        1532650000
STEEM      1008400000
BNB        1411010000
XVG        1346230000
STRAT      1464610000
Name: 16, dtype: int64)
(17, BTC      192123000000
ETH      102974000000
XRP       45854700000
BCH       29899500000
ADA       16181700000
LTC       10417800000
XLM        7906720000
NEO        9407150000
EOS        6209050000
MIOTA      7235510000
DASH       5931600000
XMR        4978850000
TRX        3537010000
LSK        2470670000
VEN        1353590000
ETC        2814880000
QTUM       2623560000
PPT        1399810000
BTG        3184020000
XRB        1932480000
ICX        2831510000
OMG        1765470000
ZEC        1564650000
STEEM       952568000
BNB        1348860000
XVG        1231520000
STRAT      1473570000
Name: 17, dtype: int64)
(18, BTC      232517000000
ETH      125389000000
XRP       65018400000
BCH       40708800000
ADA       20239200000
LTC       12752100000
XLM       10736400000
NEO       12217900000
EOS        7857840000
MIOTA      9646500000
DASH       7332160000
XMR        6491450000
TRX        4999800000
LSK        3159260000
VEN        1690070000
ETC        4014070000
QTUM       3855430000
PPT        1700540000
BTG        4465810000
XRB        2782120000
ICX        3759910000
OMG        2296440000
ZEC        1922320000
STEEM      1343350000
BNB        1944040000
XVG        1685600000
STRAT      2058280000
Name: 18, dtype: int64)
(19, BTC      231334000000
ETH      132404000000
XRP       71909400000
BCH       42983500000
ADA       20631800000
LTC       12993700000
XLM       11190600000
NEO       11056500000
EOS        8110090000
MIOTA     10334400000
DASH       7868670000
XMR        6179110000
TRX        5581340000
LSK        3223530000
VEN        1678810000
ETC        4230510000
QTUM       3990880000
PPT        1775960000
BTG        4633360000
XRB        2937560000
ICX        4031390000
OMG        2418190000
ZEC        2054190000
STEEM      1547550000
BNB        2059530000
XVG        2006310000
STRAT      1941050000
Name: 19, dtype: int64)
(20, BTC      241447000000
ETH      135503000000
XRP       78195800000
BCH       45439500000
ADA       22866700000
LTC       14265000000
XLM       12025900000
NEO        9136460000
EOS        9718770000
MIOTA     10937000000
DASH       8582900000
XMR        6556930000
TRX        6748000000
LSK        3430880000
VEN        1632920000
ETC        4250660000
QTUM       4046680000
PPT        1880280000
BTG        5683570000
XRB        3214780000
ICX        3752670000
OMG        2624620000
ZEC        2141180000
STEEM      1549690000
BNB        2203410000
XVG        2277920000
STRAT      1967980000
Name: 20, dtype: int64)
(21, BTC      234391000000
ETH      123163000000
XRP       79469700000
BCH       44260300000
ADA       23785800000
LTC       12964300000
XLM       12198400000
NEO        8069500000
EOS        8336870000
MIOTA     10284600000
DASH       8243350000
XMR        6129540000
TRX        7146440000
LSK        3435950000
VEN        1729740000
ETC        3584650000
QTUM       3723670000
PPT        1852720000
BTG        3694430000
XRB        3293230000
ICX        3755250000
OMG        2329570000
ZEC        2141980000
STEEM      1336130000
BNB        2212490000
XVG        2311320000
STRAT      1838120000
Name: 21, dtype: int64)
(22, BTC      225986000000
ETH      112263000000
XRP       75172500000
BCH       41859100000
ADA       18039200000
LTC       12572900000
XLM        9998070000
NEO        7097050000
EOS        6804430000
MIOTA      9393390000
DASH       7914550000
XMR        5591320000
TRX        7219280000
LSK        2967740000
VEN        1799210000
ETC        3274750000
QTUM       3395810000
PPT        1797620000
BTG        3546910000
XRB        3271060000
ICX        3481210000
OMG        2214090000
ZEC        1977330000
STEEM      1129970000
BNB        2126410000
XVG        2091310000
STRAT      1596910000
Name: 22, dtype: int64)
(23, BTC      251387000000
ETH      122879000000
XRP       76711800000
BCH       48880800000
ADA       20521800000
LTC       13758400000
XLM       10084400000
NEO        8001780000
EOS        6741700000
MIOTA     10496300000
DASH       8615280000
XMR        6329790000
TRX        8601610000
LSK        3370350000
VEN        1762480000
ETC        3654630000
QTUM       3959310000
PPT        1955530000
BTG        4066710000
XRB        3970830000
ICX        4189070000
OMG        2393480000
ZEC        2178380000
STEEM      1310690000
BNB        1739340000
XVG        2460940000
STRAT      1901060000
Name: 23, dtype: int64)
(24, BTC      244981000000
ETH      125976000000
XRP       82511000000
BCH       40398000000
ADA       21153200000
LTC       13566300000
XLM       10523600000
NEO        8270280000
EOS        5534140000
MIOTA      9883000000
DASH       8710310000
XMR        6439820000
TRX        8351340000
LSK        3500540000
VEN        1278870000
ETC        3774740000
QTUM       3942310000
PPT        1972430000
BTG        4035920000
XRB        4027160000
ICX        4645360000
OMG        2591750000
ZEC        2032060000
STEEM      1464940000
BNB        1753330000
XVG        2821190000
STRAT      1909330000
Name: 24, dtype: int64)
(25, BTC      253935000000
ETH      110999000000
XRP       94657500000
BCH       40770900000
ADA       23287300000
LTC       13920200000
XLM       11229100000
NEO        6634310000
EOS        5711470000
MIOTA     10680500000
DASH       8476040000
XMR        6289410000
TRX       10136100000
LSK        3643650000
VEN        1176920000
ETC        3374260000
QTUM       4116560000
PPT        2140290000
BTG        4005020000
XRB        3426900000
ICX        3928180000
OMG        2432850000
ZEC        2090110000
STEEM      1476630000
BNB        1799480000
XVG        2573020000
STRAT      2164950000
Name: 25, dtype: int64)
(26, BTC      276612000000
ETH      112164000000
XRP      130302000000
BCH       47091600000
ADA       25909700000
LTC       15726800000
XLM       12442100000
NEO        6638000000
EOS        7367780000
MIOTA     11314500000
DASH      10016200000
XMR        7139010000
TRX       13491200000
LSK        3922180000
VEN        1265540000
ETC        4069110000
QTUM       6358230000
PPT        2030070000
BTG        5063530000
XRB        3603270000
ICX        3730790000
OMG        2489290000
ZEC        2659820000
STEEM      1568750000
BNB        1846270000
XVG        2620880000
STRAT      1680520000
Name: 26, dtype: int64)
(27, BTC      294222000000
ETH      100981000000
XRP      119819000000
BCH       47054000000
ADA       26553200000
LTC       16178100000
XLM       12688400000
NEO        6572870000
EOS        7495320000
MIOTA     10968300000
DASH       9881510000
XMR        7103000000
TRX       11419000000
LSK        3633930000
VEN        1314190000
ETC        3802870000
QTUM       6940930000
PPT        1574260000
BTG        5018030000
XRB        3895910000
ICX        2947310000
OMG        1970170000
ZEC        2269630000
STEEM      1721670000
BNB        2254460000
XVG        2542480000
STRAT      1586140000
Name: 27, dtype: int64)
(28, BTC      293091000000
ETH       96326500000
XRP      117033000000
BCH       43653200000
ADA       25849300000
LTC       13645300000
XLM       11854000000
NEO        6195060000
EOS        6324240000
MIOTA     10436900000
DASH       9026110000
XMR        5999260000
TRX       14760400000
LSK        2879820000
VEN        1017310000
ETC        3591720000
QTUM       4644760000
PPT        1547510000
BTG        4646530000
XRB        4182050000
ICX        2607470000
OMG        1908510000
ZEC        1759870000
STEEM      1402840000
BNB        1472230000
XVG        2623240000
STRAT      1490410000
Name: 28, dtype: int64)
(29, BTC      259748000000
ETH       94423900000
XRP      127870000000
BCH       40557600000
ADA       30364400000
LTC       13164800000
XLM       13219400000
NEO        6429220000
EOS        6549910000
MIOTA     11286600000
DASH       9527170000
XMR        6262550000
TRX       13779500000
LSK        2496760000
VEN        1046450000
ETC        3576720000
QTUM       4234740000
PPT        1697890000
BTG        4598030000
XRB        4360850000
ICX        2765270000
OMG        2021050000
ZEC        1764630000
STEEM      1611020000
BNB         905550000
XVG        2312330000
STRAT      1578710000
Name: 29, dtype: int64)
(30, BTC      256250000000
ETH       93049400000
XRP      120763000000
BCH       44069100000
ADA       28364900000
LTC       13403400000
XLM       15953600000
NEO        6811420000
EOS        6076410000
MIOTA     11466400000
DASH       9151080000
XMR        6448110000
TRX        6240820000
LSK        2466640000
VEN         962175000
ETC        3404930000
QTUM       4357860000
PPT        1926840000
BTG        4561520000
XRB        3290570000
ICX        2794050000
OMG        2101860000
ZEC        1737200000
STEEM      1998250000
BNB         935270000
XVG        2107470000
STRAT      1662060000
Name: 30, dtype: int64)
(31, BTC      251312000000
ETH       85703500000
XRP       95457200000
BCH       45613300000
ADA       20214800000
LTC       13957800000
XLM       10059800000
NEO        5869250000
EOS        5394840000
MIOTA     11109700000
DASH       9422640000
XMR        5953920000
TRX        5170990000
LSK        2558310000
VEN         722827000
ETC        3450400000
QTUM       4466390000
PPT        1667220000
BTG        4622800000
XRB        4456800000
ICX        2446920000
OMG        2055970000
ZEC        1727630000
STEEM      1606260000
BNB         868367000
XVG        2089650000
STRAT      1587680000
Name: 31, dtype: int64)
(32, BTC      228579000000
ETH       74695700000
XRP       91791800000

In [193]:
topCoins.head()

,BTC,ETH,XRP,BCH,ADA,LTC,XLM,NEO,EOS,MIOTA,...,PPT,BTG,XRB,ICX,OMG,ZEC,STEEM,BNB,XVG,STRAT
0,149085000000,89507600000,34795900000,20237400000,10395800000,7232410000,7482160000,7867210000,6290740000,5023050000,...,2010170000,1850860000,2251310000,2021100000,1362480000,1228180000,1124740000,960106000,792570000,928058000
1,153953000000,100836000000,37473900000,21561700000,10875400000,7844710000,8387820000,8166710000,6528440000,5280740000,...,2333590000,2148410000,2189520000,2319700000,1425460000,1270100000,1245360000,931520000,848117000,996957000
2,172372000000,108952000000,44971500000,25263200000,13376100000,9004330000,9967480000,9487200000,7826060000,6419970000,...,2610550000,2635290000,2681840000,2942890000,1617380000,1269550000,1269210000,1106810000,1014360000,1220310000
3,170183000000,104231000000,43800800000,24915700000,13679100000,9090870000,8732980000,9451090000,7309740000,6162980000,...,2494270000,2659440000,2137840000,3151000000,1520480000,1217890000,1151950000,1115720000,1001540000,1183220000
4,190339000000,115207000000,51452400000,28079700000,16199200000,9976170000,10557100000,10976100000,8918290000,7195220000,...,2553880000,3061920000,2481590000,3628280000,1723530000,1421050000,1462650000,1264770000,1240790000,1467940000

In [208]:
rankings = topCoins.rank(axis=1,ascending=False) < 20
rankings.head()

,BTC,ETH,XRP,BCH,ADA,LTC,XLM,NEO,EOS,MIOTA,...,PPT,BTG,XRB,ICX,OMG,ZEC,STEEM,BNB,XVG,STRAT
0,True,True,True,True,True,True,True,True,True,True,...,False,False,True,True,False,False,False,False,False,False
1,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,False,False,False,False,False,False
2,True,True,True,True,True,True,True,True,True,True,...,False,False,True,True,False,False,False,False,False,False
3,True,True,True,True,True,True,True,True,True,True,...,False,True,False,True,False,False,False,False,False,False
4,True,True,True,True,True,True,True,True,True,True,...,False,True,False,True,False,False,False,False,False,False

In [238]:
for i in rankings.iterrows():
#     s = s[s != 1]
    i = i[1]
    coins = i[i == True]
    print(coins.index.tolist())

['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'VEN', 'ETC', 'QTUM', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'VEN', 'ETC', 'QTUM', 'PPT', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'VEN', 'ETC', 'QTUM', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'VEN', 'ETC', 'QTUM', 'BTG', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'VEN', 'ETC', 'QTUM', 'BTG', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'VEN', 'ETC', 'QTUM', 'PPT', 'BTG', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'VEN', 'ETC', 'QTUM', 'BTG', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'VEN', 'ETC', 'QTUM', 'BTG', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'VEN', 'ETC', 'QTUM', 'BTG', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'VEN', 'ETC', 'QTUM', 'BTG', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'VEN', 'ETC', 'QTUM', 'BTG', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'VEN', 'ETC', 'QTUM', 'BTG', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'XVG']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'ICX']
['BTC', 'ETH', 'XRP', 'BCH', 'ADA', 'LTC', 'XLM', 'NEO', 'EOS', 'MIOTA', 'DASH', 'XMR', 'TRX', 'LSK', 'ETC', 'QTUM', 'BTG', 'XRB', 'XVG']